html, body {
	height: 100%;
	margin: 0;
}
body {
	display: block;
	font-size: 13px;
	font-family: arial, sans-serif;
	color: #838383;
}

a {
	text-decoration: none;
	color: #838383;
}
a:hover {
	text-decoration:underline;
	color:black;
}
.sign-in {color:white;}
.sign-in:hover {text-decoration: none; color:white;}


.navbar li {
	display: inline;
	padding: 9px;

}
.sign_in {
	background-color: #007fff;
	color: white;
	font-weight: bold;
	border-radius: 4px;
}
.navbar {
	text-align:right;
	position: relative;
	margin-right: 50px;
	top: 20px;
	border-radius: 3px;
	
}

.logo {
	position: relative;
	height: 100px;
	margin-top:15%;
}

.search_bar {
	width: 490px;
	height: 30px;
	margin-bottom: 15px;
}
button {
	background-color: #f5f5f5;
	border: none;
	height: 30px;
	width: 150px;
	font-weight: bold;
	font-size: 12px;
	color: #838383;
}
.footer {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;

}
.footer li {
	display: inline;
	padding: 10px;
}
.left {
	float:left;
}
.right {
	float: right;
	margin-right: 4px;
}
